[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
src = {editable = true, path = "./src"}
fastapi = "0.99.1"
mangum = "*"
redis = "*"
pydantic = "*"
pydantic_core = "*"

[dev-packages]

[requires]
python_version = "3.8"
